<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/site.css" />

<header id="pageHeader">
{{{header}}}
<h3 style="text-align:center">{{name}} </h3></header>
<article id="mainArticle">
<div style="text-align: center">
  <ul>
    <li> creator: {{{owner}}} </li>
    <li> hunger: {{hunger}} </li>
    <li> happiness: {{happy}} </li>
  </ul>
    {{{feed}}}
    {{{play}}}




  <image src="/public/pets/{{type}}{{color}}.png" filter="url(#redden)"></img>
</article>

<footer id="pageFooter">{{{footer}}}</footer>
</html>
