<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/site.css" />
    <meta charset="utf-8">
    <title>{{petName}}</title>
</head>
<body>
     <ul>
       <li> creator: {{{owner}}} </li>
       <li> age: {{age}} </li>
       <li> hunger: {{hunger}} </li>
       <li> happiness: {{hapiness}} </li>

    </main>
    <footer> <a href="/logout"> logout </a> </footer>

</body>
{{{footer}}}
</html>
