<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/site.css" />
    <meta charset="utf-8">
    <title>welcome to homiepets, this is your profile</title>
</head>
<body>
     <ul>
       <li> username: {{username}} </li>
       <li> name: {{name}} </li>
       <li> bio: {{bio}} </li>
       <li> homies: {{{homies}}} </li>
    </ul>
    </main>
    <footer> <a href="/logout"> logout </a> </footer>

</body>
{{{footer}}}
</html>
